* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-left: 20px;
}

.idcard {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 98vw;
  margin-bottom: 10px;
}

.idcard div {
  margin-top: 20px;
}

.idcards h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.greeting div {
  border: 1px solid black;
  width: 98vw;;
  margin-top: 10px;
}

.greeting h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.random div {
  border: 1px solid black;
  width: 98vw;;
  margin-top: 10px;
}

.random h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-color div {
  padding: 40px 0px;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.box-color h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.credit-cards-title {
  margin-top: 20px;
}

.creditcard {
  width: 25vw;
  height: 200px;
}

.creditcard img {
  width: 70px;
  padding: 10px;
}

.image-visa {
  display: flex;
  justify-content: flex-end;
}

.bank-num {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}

.general-info-creditcard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

.expires-bank {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.credit-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px
}

.rating h2 {
  margin-bottom: 10px;
}

.rating div {
  margin-bottom: 10px;
}

.driver-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.driver-card {
  background-color: rgb(73, 80, 190);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin-top: 30px;
  padding: 40px 0px;
  color: white;
  gap: 10px;
  border-radius: 15px;
}

.driver-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.driver-card-info {
  font-size: 18px;
}

.driver-cards-title {
  margin-top: 20px;
}

.facebook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.facebook img {
  width: 200px;
}

.facebook-individual {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 30vw;
}

.active {
  background-color: blue;
}

.selected {
  background-color: blue;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.signup button {
  border: none;
  background-color: rgb(85, 85, 255);
  border-radius: 5px;
  padding: 5px;
}

.clickable-picture {
  margin: 20px 0;
}
.clickable-picture img {
  width: 200px;
}

.like-button {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 20px 0;
}

.like-button button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

.dice {
  margin: 20px 0;
}
.dice img {
  width: 200px;
}

.carousel {
  display: flex;
  flex-direction: column;
  
}

.carousel img {
  width: 200px;
}

.carousel-btn {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.carousel-btn button {
  padding: 10px;
  border: none;
  background-color: rgb(88, 88, 248);
  border-radius: 5px; 
}

.table tbody{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.table tbody tr td {
  width: 50px;
  height: 50px;
  text-align: center;
}

.color-pick {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.color-pick-parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.rgb-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
